{% extends "fancylayout.html" %}

{% block content %}
<table><caption>contact information</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Github id</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sherlock</td>
            <td>SherlockYe</td>
            <td>zhenyangye@brandeis.edu</td>
        </tr>
        <tr>
            <td>Frank</td>
            <td>franciscoliu</td>
            <td>zheyuanliu@brandeis.edu</td>
        </tr>
				<tr>
            <td>Peter</td>
            <td>cmeng-1101</td>
            <td>cmeng@brandeis.edu</td>
        </tr>
				<tr>
            <td>Linda</td>
            <td>LindaXi</td>
            <td>yxi@brandeis.edu</td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/cRdOpxx" data-context="false" ><a href="//imgur.com/a/cRdOpxx"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% endblock %}
